@media only screen and (min-width: 40em) {
    header img {
        width: 85%;
    }


    nav ul {
        display: flex;
    }

    nav li a {
        text-align: center;
        padding: 1px;

    }
    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

}