@media only screen and (min-width: 40em) {
    header img {
        width: 85%;
    }

    nav li a {
        padding: 12px 1px;
    }

    nav ul {
        display: flex;
    }

    nav li a {
        text-align: center;


    }
    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .article img{
        max-width: 100%;
        height: auto;
        float: right;
        padding: 10px 0px 10px 10px;
    }

}